<md-content>
    <md-toolbar layout="row">
        <h2>Dining App!!!</h2>
        <div ng-switch="userAuthenticated">
            <div ng-switch-when="true">
                <md-button ng-click="logout()">Logout</md-button> 
                <md-button ng-click="homeRedirect()">Home</md-button> 


<!--                <md-button ng-click="addFav()">Add Favorite</md-button> 
                <md-button ng-click="getFavs()">Get Favorites</md-button>   
                <md-button ng-click="rmFav()">Remove Favorite</md-button>    -->            
            </div>
            <div ng-switch-when="false">
                <md-button ng-click="signupRedirect()">Sign Up</md-button> 
                <md-button ng-click="loginRedirect()">Login</md-button> 
                <md-button ng-click="homeRedirect()">Home</md-button> 

            </div>
        </div>
        
    </md-toolbar>
    <md-content layout="row" flex layout-align="center">


        <form class="accountsettings-form">
            <md-switch ng-model="preferences.vegetarian" ng-disabled="preferences.vegan">
                Vegetarian: {{ preferences.vegetarian }}
            </md-switch>
            <md-switch ng-model="preferences.vegan" ng-change="preferences.vegetarian=preferences.vegan">
                Vegan: {{ preferences.vegan }}
            </md-switch>
            <md-switch ng-model="preferences.gf">
                Gluten-Free: {{ preferences.gf }}
            </md-switch>  

            <p>Default Location <span class="radioValue">{{ preferences.defaultloc }}</span> </p>
            <md-radio-group ng-model="preferences.defaultloc">
                <md-radio-button value="olin" class="md-primary">Olin</md-radio-button>
                <md-radio-button value="trim">Trim</md-radio-button>
            </md-radio-group>                       

            <md-button ng-click="submit()">Submit</md-button>
        </form>

        <md-button ng-click="changePasswordRedirect()">Change Password</md-button> 

    </md-content>
</md-content>