<md-content>
    <md-toolbar layout="row" layout-align="space-between center">
        <h2>Olin Trim Dining</h2>
        <div class="navbuttons" layout='row' layout-align='center center'>
            <md-button ng-click="homeRedirect()">Home</md-button> 
            <md-button ng-click="logout()">Logout</md-button>  
        </div>      

        </div>
        
    </md-toolbar>
    <md-content layout="row" flex layout-align="center">
        <md-list>
            <md-subheader class="md-no-sticky">Change Password</md-subheader>
            <md-list-item id="change-password-setting">
                <form>
                    <md-input-container> 
                        <label> Old Password </label>
                        <input  required ng-model="changePasswordForm.oldPassword" type="password" >
                    </md-input-container>

                    <md-input-container> 
                        <label> New Password </label>
                        <input  required ng-model="changePasswordForm.newPassword" type="password" >
                    </md-input-container>

                    
                    <md-button ng-click="changePassword(changePasswordForm)" class="md-primary">Change Password</md-button>
                </form>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Food Preferences</md-subheader>
            <md-list-item id="food-preferences-setting">
                <form class="accountsettings-form">
                    <md-switch ng-model="preferences.vegetarian" ng-disabled="preferences.vegan">
                        Vegetarian: {{ preferences.vegetarian }}
                    </md-switch>
                    <md-switch ng-model="preferences.vegan" ng-change="preferences.vegetarian=preferences.vegan">
                        Vegan: {{ preferences.vegan }}
                    </md-switch>
                    <md-switch ng-model="preferences.mindful">
                        Mindful: {{ preferences.mindful }}
                    </md-switch>

                <md-subheader class="md-no-sticky">I'm allergic to</md-subheader>
                    <md-switch ng-model="preferences.allergens[allergen]" ng-change="updateSelectedAllergens(allergen)" ng-repeat="allergen in allergens">
                        {{allergen}}
                    </md-switch>



                    <p>Default Location <span class="radioValue">{{ preferences.defaultloc }}</span> </p>
                    <md-radio-group ng-model="preferences.defaultloc">
                        <md-radio-button value="olin" class="md-primary">Olin</md-radio-button>
                        <md-radio-button value="trim">Trim</md-radio-button>
                    </md-radio-group>                       

                    <md-button class="md-primary" ng-click="submit()">Submit</md-button>
                </form>
            </md-list-item>
        </md-list>
        

        

    </md-content>
</md-content>