html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height: 100vh;
  width: 100vw;
}

md-toolbar h2, h3 {
  line-height: 1em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 500;
}

h4 {
  margin-left: 10px;
}

p {
  margin: 0;
}

/*Home Page*/
.outer-content {
  width: 100vw;
  height: 100vh;
}

.menu-content {
  height: calc(100% - 70px) ;
}

#get-menu-form {
  min-height: 70px;
  height: 70px;
  max-height: 70px;
}

#day-meal-list{
  min-height: 500px;
  height: calc(100% - 100px);
  padding-left: 50px;
  padding-right: 50px;
}

.dish-header {
  padding: 10px;
  width: 100%;
}

.filter {
  min-width: 150px;
}

.dish-name {
  margin: 0px;
}

.meal-menu {
  overflow: scroll;
}

.meal-content {
  height: 100%;
  padding: 10px;
}

.nutrition-info {
  outline: black solid 2px;
  padding: 0px;
}

.nutrition-cell {
  outline: gray solid 1px;
  padding: 2px;
}

.nutrition-small {
  text-align: center;
  font-size: 0.7em;
}

.indented-row {
  margin-left: 10px;
}

/*Settings Page*/
.change-password-form, .preferences-form {
  width: 100%;
}

.change-password-form {
  border-bottom-width:2px;
   border-bottom-color:gray;
   border-bottom-style: solid;
}

.default-loc {
  padding-top: 20px;
}