html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height: 100vh;
  width: 100vw;
}

md-toolbar h2, h3 {
  line-height: 1em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 500;
  height: 5vh;
}

h4 {
  margin-left: 10px;
}

p {
  margin: 0;
}

#get-menu-form {
  height:15vh;
} 

.outer-content {
  width: 100vw;
}


.dish-header {
  padding: 10px;
  width: 100%;
}

.dish-name {
  margin: 0px;
}

#day-meal-list{
  height: calc(80vh - 100px);
}

.meal-menu {
  overflow: scroll;
}

.meal-content {
  padding: 10px;
}

.nutrition-info {
  outline: black solid 2px;
  padding: 0px;
}

.nutrition-cell {
  outline: gray solid 1px;
}

.nutrition-small {
  text-align: center;
  font-size: 0.7em;
}


.indented-row {
  margin-left: 10px;
}