<!-- This html isinjected into the main page by $routeProvider, it is the only html template used -->
<md-content>
	<md-toolbar class="md-medium-tall" layout="row">
		<h2>Dining App!!!</h2>
		<div ng-switch="userAuthenticated">
			<div ng-switch-when="true">
				<md-button ng-click="logout()">Logout</md-button> 
				<md-button ng-click="changePasswordRedirect()">Change Password</md-button> 
			</div>
			<div ng-switch-when="false">
				<md-button ng-click="signupRedirect()">Sign Up</md-button> 
				<md-button ng-click="loginRedirect()">Login</md-button> 
			</div>
		</div>
		
	</md-toolbar>
	<md-content layout="row" flex layout-align="center">
		Hello!
	</md-content>
</md-content>
