<!-- This html isinjected into the main page by $routeProvider, it is the only html template used -->
<md-content>
	<md-toolbar layout="row">
		<h2>Dining App!!!</h2>
		<div ng-switch="userAuthenticated">
			<div ng-switch-when="true">
				<md-button ng-click="logout()">Logout</md-button> 
				<md-button ng-click="changePasswordRedirect()">Change Password</md-button> 
				<md-button class="material-icons" ng-click="accountSettingsRedirect()">settings</md-button> 		
			</div>
			<div ng-switch-when="false">
				<md-button ng-click="signupRedirect()">Sign Up</md-button> 
				<md-button ng-click="loginRedirect()">Login</md-button> 
			</div>
		</div>
		
	</md-toolbar>
	<div layout="column" flex layout-align="center">
		<div layout="row" id="get-menu-form">
			<md-input-container>
		        <label>Dining Hall</label>
		        <md-select ng-model="formData.myLocation" placeholder="olin" ng-change="getDayMeals(formData)">
		          	<md-option value="olin">Olin</md-option>
		          	<md-option value="trim">Trim</md-option>
		        </md-select>
		    </md-input-container>
			<md-datepicker ng-model="formData.myDate" md-placeholder="Enter date" ng-change="getDayMeals(formData)"></md-datepicker>
		</div>
		
		<div id="day-meal-list">
			<md-content flex layout='row'>
				
				<div flex class="day-meals" ng-repeat="meal in daymeals">
					<section>
					<md-subheader class="md-primary">{{mealTypeToDisplay[meal.mealType]}}</md-subheader >
					<md-list>
						<md-list-item class="md-3-line" ng-repeat="food in meal.foods">
							<div class="md-list-item-text">
								<h5>{{food.name}}</h5>
							</div>
						</md-list-item>
					</md-list>
					</section>
				</div>
				
			</md-content>
		</div>
</md-content>
